name: CI/CD Delta Deploy with sfdx-git-delta

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI and sfdx-git-delta
        run: |
          npm install --global @salesforce/cli
          sf plugins install sfpowerkit

      - name: Authenticate to Salesforce (JWT)
        run: |
          echo "${{ secrets.SF_JWT_KEY }}" > server.key
          sf org login jwt --client-id 3MVG9dZJodJWITSuB5CFu69a8IIeQ6aPCc6M34dCGvS1GNQavfKPaVxjybKxS4xU0xSO_OhTerBCRhbLedxCE \
                           --jwt-key-file server.key \
                           --username bruno.romano182@gmail.com.treinamento \
                           --instance-url https://brunoromano23-dev-ed.my.salesforce.com

      - name: Generate Delta Package
        run: |
          sf sfpowerkit source delta --to HEAD --from ${{ github.event.before }} --output delta

      - name: Check if Delta Package Exists
        id: delta-check
        run: |
          if [ ! -s "delta/package.xml" ]; then
            echo "no-deploy=true" >> $GITHUB_ENV
          else
            echo "no-deploy=false" >> $GITHUB_ENV

      - name: Deploy Delta Metadata
        if: env.no-deploy == 'false'
        run: |
          sf deploy metadata --target-org bruno.romano182@gmail.com.treinamento --metadata-dir delta/package --manifest delta/package.xml --wait 10