name: CI/CD Delta Deploy with sfdx-git-delta

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI and sfdx-git-delta
        run: |
          npm install --global @salesforce/cli
          npm install --global sfdx-git-delta

      - name: Authenticate to Salesforce (JWT)
        run: |
          echo "${{ secrets.SF_JWT_KEY }}" > server.key
          sf org login jwt --client-id 3MVG9dZJodJWITSuB5CFu69a8IIeQ6aPCc6M34dCGvS1GNQavfKPaVxjybKxS4xU0xSO_OhTerBCRhbLedxCE \
                           --jwt-key-file server.key \
                           --username bruno.romano182@gmail.com.treinamento \
                           --instance-url https://brunoromano23-dev-ed.my.salesforce.com

      - name: Generate Delta Package
        run: |
          sfdy-delta generate:delta --to "HEAD" --from "${{ github.event.before }}" --output "delta"

      - name: Deploy Delta Metadata
        run: |
          sf deploy metadata --target-org bruno.romano182@gmail.com.treinamento --metadata-dir delta/package --manifest delta/package.xml --wait 10 --test-level RunLocalTests